html{
    
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: sans-serif;
    position: fixed;
    font-weight: 500;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .ante{
    margin-top: 12px;
    margin-bottom: 0;
    justify-content: baseline;
    margin-left: 50px;
  }

  .nav_button{
    margin-top: 4px;
    padding: 5px 12px;
    margin-bottom: 0;
    margin-right: 4px;
    background-color: transparent;
    color: black;
    border: black solid 1px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #f4009f;
  }

  .banner{
   z-index: inherit;
  }
 

.banner img{
  width: 100%;
  height: 75%;
  max-width: fit-content;
  margin-top: 10px;
  opacity: 70%;
  left: 0;
  right: 0;
  margin-left: 0;
  
}

.hero{
  background-color: transparent;
  width: 90%;
  text-align: center;
  color: white;
  position: absolute;
  top: 50px;
  left: 16px;
}

button{
  margin-bottom: 10px;
  color: white;
  border: white solid 1px;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  font-weight: 100;
}

.twobuttons{
  text-align: left;
}

.main{
  text-align: justify;
  color: rgb(119, 119, 119);
}

.main h1{
  font-size: 60px;
  line-height: .5;
}

.mission{
  text-align: center;
  border: dotted transparent 1px;
  margin: 0;
}
.what, .how{
  text-align: center;
  line-height: .9;
}
.what{
  background-color: #BC00DD;
  margin: 0;
  border: solid transparent;
}
.how{
  background-color: #DB00B6;
  border: solid transparent 1px;
  margin: 0%;
}

.subscribe{
  background-color: darkviolet;
  color: white;
  border: solid transparent 1px;
  margin: 0;
}

.footer{
  background-color: gray;
  bottom: 0;
  border: transparent solid 1px;
  
}